<?xml version='1.0' encoding='utf-8'?>
<widget id="org.theodi.accelerate" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ODI Learning</name>
    <description>
    	Learn all you need to about Open Data with this app.
    </description>
    <author email="training@theodi.org" href="http://theodi.org">
        The Open Data Institute
    </author>
    <icon src="src-icons/20150923_elearning_icons3U.png"/>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
	<splash src="src-splash/android/splash-port-hdpi.png" density="port-hdpi"/>
	<splash src="src-splash/android/splash-port-ldpi.png" density="port-ldpi"/>
	<splash src="src-splash/android/splash-port-mdpi.png" density="port-mdpi"/>
	<splash src="src-splash/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	<splash src="src-splash/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
	<splash src="src-splash/android/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
	<splash src="src-splash/ios/Default~iphone.png" width="320" height="480"/>
	<splash src="src-splash/ios/Default@2x~iphone.png" width="640" height="960"/>
	<splash src="src-splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
	<splash src="src-splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
	<splash src="src-splash/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
	<splash src="src-splash/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
	<splash src="src-splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
	<splash src="src-splash/ios/Default-667h.png" width="750" height="1334"/>
	<splash src="src-splash/ios/Default-736h.png" width="1242" height="2208"/>
	<splash src="src-splash/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>
</widget>
